.qrcode-box-top{
    margin-bottom: 15px
}
.qrcode-box-top p{
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: #169bd4;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.section-title{
    background-color: #f2f2f2;
    padding: 8px 0;
    margin-top: 20px;
    font-size: 14px;
    text-indent: 1em;
    font-weight: bold;
}
.right-img-box{
    margin-top: 20px;
}
.right-img-box img{
    width: 100%;
}
.thumbnail-title{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}